.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.walletButtons {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
